@tailwind base;
@tailwind components;
@tailwind utilities;

body, html, #root {
    height: 100%;
}

html {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

.hoverspanspawn:hover span {
    opacity: 100%;
}

h1::selection, h2::selection, h3::selection, h4::selection, p::selection {
    background-color: #946FFF;
}

span::selection  {
    background-color: none;
}